In [1]:
from rds2py import as_summarized_experiment, read_rds

In [34]:
import scanpy as sc
from os.path import join
from anndata import AnnData
import pandas as pd
import numpy as np

In [3]:
sce_path = "./Human_DLPFC_Visium_processedData_sce_scran_spatialLIBD.rds"

In [4]:
r_obj = read_rds(sce_path)

In [5]:
sce_obj = as_summarized_experiment(r_obj)

/Users/mkeller/software/miniconda3/envs/vitessce-python-demos/lib/python3.10/site-packages/summarizedexperiment/BaseSE.py:117: UserWarning: 'column_data' does not contain unique 'row_names'.
  warn("'column_data' does not contain unique 'row_names'.", UserWarning)
/Users/mkeller/software/miniconda3/envs/vitessce-python-demos/lib/python3.10/site-packages/genomicranges/SeqInfo.py:348: UserWarning: 'seqnames' is deprecated, use 'get_seqnames' instead
  warn("'seqnames' is deprecated, use 'get_seqnames' instead", UserWarning)

In [6]:
sce_obj

SingleCellExperiment(number_of_rows=33538, number_of_columns=47681, assays=['counts', 'logcounts'], row_data=BiocFrame(data={'source': [1, 1, 2, ..., 3, 3, 3], 'type': [1, 1, 1, ..., 1, 1, 1], 'gene_id': ['ENSG00000243485', 'ENSG00000237613', 'ENSG00000186092', ..., 'ENSG00000271254', 'ENSG00000277475', 'ENSG00000268674'], 'gene_version': ['5', '2', '6', ..., '6', '1', '2'], 'gene_name': ['MIR1302-2HG', 'FAM138A', 'OR4F5', ..., 'AC240274.1', 'AC213203.1', 'FAM231C'], 'gene_source': ['havana', 'havana', 'ensembl_havana', ..., 'ensembl', 'ensembl', 'ensembl'], 'gene_biotype': ['lincRNA', 'lincRNA', 'protein_coding', ..., 'protein_coding', 'protein_coding', 'protein_coding'], 'gene_search': ['MIR1302-2HG; ENSG00000243485', 'FAM138A; ENSG00000237613', 'OR4F5; ENSG00000186092', ..., 'AC240274.1; ENSG00000271254', 'AC213203.1; ENSG00000277475', 'FAM231C; ENSG00000268674'], 'is_top_hvg': [0, 0, 0, ..., 0, 0, 0]}, number_of_rows=33538, row_names=['0', '1', '2', ..., '33535', '33536', '33537'], column_names=['source', 'type', 'gene_id', 'gene_version', 'gene_name', 'gene_source', 'gene_biotype', 'gene_search', 'is_top_hvg']), row_names=['0', '1', '2', ..., '33535', '33536', '33537'], column_data=BiocFrame(data={'barcode': [1, 2, 3, ..., 4989, 4990, 4992], 'sample_name': [151507, 151507, 151507, ..., 151676, 151676, 151676], 'tissue': [2, 2, 2, ..., 2, 2, 2], ..., 'HVG_UMAP_spatial': [1, 1, 4, ..., 8, 2, 1], 'pseudobulk_UMAP_spatial': [1, 2, 1, ..., 1, 4, 2], 'markers_UMAP_spatial': [1, 1, 6, ..., 1, 7, 5]}, number_of_rows=47681, row_names=['AAACAACGAATAGTTC-1', 'AAACAAGTATCTCCCA-1', 'AAACAATCTACTAGCA-1', ..., 'TTGTTTCATTAGTCTA-1', 'TTGTTTCCATACAACT-1', 'TTGTTTGTGTAAATTC-1'], column_names=['barcode', 'sample_name', 'tissue', ..., 'HVG_UMAP_spatial', 'pseudobulk_UMAP_spatial', 'markers_UMAP_spatial']), column_names=['AAACAACGAATAGTTC-1', 'AAACAAGTATCTCCCA-1', 'AAACAATCTACTAGCA-1', ..., 'TTGTTTCATTAGTCTA-1', 'TTGTTTCCATACAACT-1', 'TTGTTTGTGTAAATTC-1'], row_ranges=GenomicRangesList(number_of_elements=33538, ranges=GenomicRanges(number_of_ranges=0, seqnames=[], ranges=IRanges(start=array([], dtype=int32), width=array([], dtype=int32)), strand=[], mcols=BiocFrame(data={}, number_of_rows=0, column_names=[]), seqinfoSeqInfo(number_of_seqnames=0, seqnames=[], seqlengths=[], is_circular=[], genome=[])), mcols=BiocFrame(data={}, number_of_rows=33538, column_names=[])), alternative_experiments=[], reduced_dims=[])

In [8]:
adatas = sce_obj.to_anndata()

/Users/mkeller/software/miniconda3/envs/vitessce-python-demos/lib/python3.10/site-packages/anndata/_core/anndata.py:1897: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

In [9]:
adata = adatas[0]

In [17]:
adata

AnnData object with n_obs × n_vars = 47681 × 33538
    obs: 'barcode', 'sample_name', 'tissue', 'row', 'col', 'imagerow', 'imagecol', 'Cluster', 'height', 'width', 'sum_umi', 'sum_gene', 'subject', 'position', 'replicate', 'subject_position', 'discard', 'key', 'cell_count', 'SNN_k50_k4', 'SNN_k50_k5', 'SNN_k50_k6', 'SNN_k50_k7', 'SNN_k50_k8', 'SNN_k50_k9', 'SNN_k50_k10', 'SNN_k50_k11', 'SNN_k50_k12', 'SNN_k50_k13', 'SNN_k50_k14', 'SNN_k50_k15', 'SNN_k50_k16', 'SNN_k50_k17', 'SNN_k50_k18', 'SNN_k50_k19', 'SNN_k50_k20', 'SNN_k50_k21', 'SNN_k50_k22', 'SNN_k50_k23', 'SNN_k50_k24', 'SNN_k50_k25', 'SNN_k50_k26', 'SNN_k50_k27', 'SNN_k50_k28', 'GraphBased', 'Maynard', 'Martinowich', 'Layer', 'layer_guess', 'layer_guess_reordered', 'layer_guess_reordered_short', 'expr_chrM', 'expr_chrM_ratio', 'SpatialDE_PCA', 'SpatialDE_pool_PCA', 'HVG_PCA', 'pseudobulk_PCA', 'markers_PCA', 'SpatialDE_UMAP', 'SpatialDE_pool_UMAP', 'HVG_UMAP', 'pseudobulk_UMAP', 'markers_UMAP', 'SpatialDE_PCA_spatial', 'SpatialDE_pool_PCA_spatial', 'HVG_PCA_spatial', 'pseudobulk_PCA_spatial', 'markers_PCA_spatial', 'SpatialDE_UMAP_spatial', 'SpatialDE_pool_UMAP_spatial', 'HVG_UMAP_spatial', 'pseudobulk_UMAP_spatial', 'markers_UMAP_spatial'
    var: 'source', 'type', 'gene_id', 'gene_version', 'gene_name', 'gene_source', 'gene_biotype', 'gene_search', 'is_top_hvg'
    layers: 'counts', 'logcounts'

In [51]:
adata_subset = adata[adata.obs['sample_name'] == 151673, :].copy()

In [52]:
adata_subset.obs

,barcode,sample_name,tissue,row,col,imagerow,imagecol,Cluster,height,width,...,SpatialDE_PCA_spatial,SpatialDE_pool_PCA_spatial,HVG_PCA_spatial,pseudobulk_PCA_spatial,markers_PCA_spatial,SpatialDE_UMAP_spatial,SpatialDE_pool_UMAP_spatial,HVG_UMAP_spatial,pseudobulk_UMAP_spatial,markers_UMAP_spatial
AAACAAGTATCTCCCA-1,2,151673,2,50,102,381.098123,440.639079,7,600,600,...,3,1,1,3,1,7,1,1,2,1
AAACAATCTACTAGCA-1,3,151673,2,3,43,126.327637,259.630972,4,600,600,...,7,5,2,2,3,2,1,4,2,3
AAACACCAATAACTGC-1,4,151673,2,59,19,427.767792,183.078314,8,600,600,...,5,4,4,5,3,5,7,5,3,2
AAACAGAGCGACTCCT-1,5,151673,2,14,94,186.813688,417.236738,6,600,600,...,3,3,1,2,2,3,4,2,1,1
AAACAGCTTTCAGAAG-1,6,151673,2,43,9,341.269139,152.700275,3,600,600,...,2,1,2,4,1,3,3,8,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TTGTTTCACATCCAGG-1,4988,151673,2,58,42,422.862301,254.410450,8,600,600,...,5,4,4,5,8,5,7,5,7,5
TTGTTTCATTAGTCTA-1,4989,151673,2,60,30,433.393354,217.146722,8,600,600,...,5,4,4,5,8,5,7,1,1,4
TTGTTTCCATACAACT-1,4990,151673,2,45,27,352.430255,208.415849,6,600,600,...,6,6,7,6,3,1,3,3,3,3
TTGTTTGTATTACACG-1,4991,151673,2,73,41,503.735391,250.720081,6,600,600,...,6,6,8,5,3,1,3,4,1,3
TTGTTTGTGTAAATTC-1,4992,151673,2,7,51,148.109816,284.293439,7,600,600,...,3,3,1,2,6,3,4,2,1,1

In [53]:
manual_layer_df = pd.read_csv(join("DLPFC_annotations", "151673_truth.txt"), sep="\t", header=None, index_col=0).rename(columns={1: "layer_manual"})

In [54]:
manual_layer_df

                   layer_manual
0
AAACAAGTATCTCCCA-1      Layer_3
AAACAATCTACTAGCA-1      Layer_1
AAACACCAATAACTGC-1           WM
AAACAGAGCGACTCCT-1      Layer_3
AAACAGCTTTCAGAAG-1      Layer_5
...                         ...
TTGTTTCACATCCAGG-1           WM
TTGTTTCATTAGTCTA-1           WM
TTGTTTCCATACAACT-1      Layer_6
TTGTTTGTATTACACG-1           WM
TTGTTTGTGTAAATTC-1      Layer_2

[3639 rows x 1 columns]

In [55]:
adata_subset.obs['layer_manual'] = manual_layer_df['layer_manual']

In [56]:
adata_subset.write_zarr("151673.h5ad")

In [ ]:
# Convert to SpatialData